<div class="center hero-unit">
	<div class="logo"><%= image_tag("logo.png",alt: "Vehle Bande", :size => "70x70")%></div>
    <h1>Welcome to the Vehle Bande</h1>

    <h2>
      Share all your vehlee things here
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

  